
/* Couleurs de la synthèse*/
:root
{
    --couleur-charte:#0065FC;
    --couleur-plus-claire:#DEEBFF;
    --gris-background:#F2F2F2;
}
*
{
    box-sizing: content-box;
}
body
{
    
    width: 100%;  
    margin: 0 auto;
    /* Ici la largeur max de ma page*/
    max-width: 1400px;
}

header
{
    width: 100%;
}

.logo
{
    position: absolute;
    width: 61.2px;
    height: 19px;
    top: 44px;
}
/* Barre de recherche*/
.up
{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
   
}

.up .two 
{
    text-align: center;
    width: 10%;
    padding: 46px 0px 0px 0px; 
    text-decoration: none;
    font-family:'Raleway';
    font-size: 16px;
    line-height: 19px;
    color: black;
    border: solid transparent 2px;

}

.up .two:hover
{
    border-top: var(--couleur-charte) solid 2px;
    color: var(--couleur-charte);
    cursor: pointer;

}


/* Texte d'introduction*/
.intro h1
{
    display: flex;
    font-family:'Raleway';
    font-size: 22px;
    line-height: 26px;
    color: black;
    height: 26px;
    margin-top: 100px;
    
}

.intro p
{
    display: flex;
    width: 100%;
    height: 19px;
    font-family:'Raleway';
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    margin: 0 auto;
}

/* Barre de recherche*/
.search 
{
    
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    margin-top: 20px ;
}

.search .location 
{
    cursor: pointer;
    background-color: var(--gris-background);
    border-radius: 15px 0px 0px 15px;
    color: black;
    text-decoration: none;
    height: 18px;
    width: 14px;
    padding-top: 7.7px;
    padding-left: 15px;
    padding-bottom: 7.7px;

}

.location i
{
    display: flex;
    margin-right: 12px;
    margin-top: 2px;
    justify-content: center;
    background-color: var(--gris-background);
    font-size: 14px;
}

.search .loupe
{
    display: none;
}

.search p a
{
    padding: 9px;
    background-color: var(--couleur-charte);
    border-radius: 0px 15px 15px 0px;
    color: #F0F2F6;
    cursor: pointer;
    text-decoration: none;
}

.search input
{
    border:var(--gris-background) solid 1px ;
    line-height: 31px;   
    
}

/* Barre des filtres*/
nav
{
   display: flex;
   
}


nav ul
{
    margin-top: 31px ;
    display: flex;
    width: 100%;
    align-items:center;
    flex-direction: row;
    padding-left: 0px;
}

nav li 
{
    list-style-type: none;
}

nav li a 
{
    

    text-decoration: none;
    color: black;
    font-family:'Raleway';
    font-size: 17px;
    line-height: 20px;
    border: solid var(--gris-background) 2px;
    border-radius: 25px;
    padding-left: 5px ;
    margin-left: 20px ;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav li a:hover
{
    background-color: var(--couleur-plus-claire);
}
nav ul li i
{
    color: var(--couleur-charte);
    margin-right: 10px;
    margin-left: 10px ;
    background: none;
}

nav .filtre
{
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

}

/*Icone information*/
.info 
{
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom:30px; 
}

.info i
{
    margin-right: 10px;
    color: var(--couleur-charte);
    border: 1px solid var(--gris-background);
    border-radius: 50%;
    padding: 6px 6px 6px 6px;
    height: 12px;
    width: 12px;
    text-align: center;
    font-size: 12px;
}
.info p
{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
main
{
    width: 100%;
}

/*Englobe:Hébergement à Marseille & Les plus populaires*/
.Marseille
{
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}
/*Hébergement à Marseille*/
.Marseille .one
{
    width: 63%;
    border-radius: 20px;
    background-color: var(--gris-background);
    padding: 28px 40px 0px 40px;
}

.Marseille .carte
{
    display: flex;
    justify-content: space-between ;
    flex-wrap:wrap;
    cursor: pointer;
}
.Marseille .one .titre1
{
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 22px;
    color: #000000;
    
}

.Marseille .one img
{
    height: 118px;
    width: 96%;
    border: 4px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.Marseille .one p
{ 
    display:flex ;
    margin-left: 16px;
    width: 100%;
    height: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.Marseille .one .hun
{
    display: flex;
    margin: 0px;
    margin-left: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration-line: none;
}


.Marseille .one .stars 
{
    width: 100%;
    color: var(--couleur-charte);
    margin-left: 15px;
    font-size: 12px;
    display: flex;
}

.fa-grey
{
    color: var(--gris-background);
}



.Marseille .one .a
{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
    padding-bottom: 6px;
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 30%;
    margin-top: 26px;
}

.Marseille .one .plus
{
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin-top: 27px;
  cursor: pointer;
  
}


/*Les plus populaires*/


aside
{
    width: 30%;
}
.Marseille .second
{
    width: 100%;
    border-radius: 20px;
    background-color:var(--gris-background) ;
    padding-bottom: 30px;
}

.Marseille .second .cartedeux .chart
{
    color: var(--couleur-charte);
    display: flex;
    margin-top:46px ;
    margin-right:42px ;
    display: flex;
    
}
.Marseille .cartedeux .titre 
{
    display: flex;
    margin-top: 41px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-left: 37px;
}

.Marseille .cartedeux 
{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-flow: wrap;
    width: 100%;
}

.Marseille .cartedeux a

{
    cursor: pointer;
	display: flex;
}


.Marseille .b
{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: auto;
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    width: 80%;
    margin-top: 26px;
    margin-left: 37px;
    display: flex;
}


.Marseille .second img 
{
    object-fit: cover;
    height: 144px;
    width: 120px;
    border: 4px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}



.colonne
{
    padding-left: 15px;
    margin-bottom: auto;
}


.Marseille .cartedeux .colonne h2
{
    margin-top: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0px;
}

.colonne .price
{
    width: 97%;
  height: auto;
  margin-bottom: 50px;
}

.Marseille .cartedeux .colonne p
{
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-top: 0px;
}

.cartedeux .colonne .stars
{
    width: 100%;
    color: var(--couleur-charte);
    margin-top: 29%;
    font-size: 12px;  
    display: flex;
    margin: 0 auto;
}


.fa-grey
{
    color: var(--gris-background)
}


/*Activités à Marseille*/
.activites 
{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 55px;
}
.activites .titre-activites
{
    justify-content: space-between;
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    width: 100%;
    color: #000000;
}
.card-activites
{
    
    display:flex ;
    margin: 0 auto;
}
.card-activites .h img
{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}


.h
{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 444.5082092285156px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    margin: 0 12px;
   
 
}

.activites .card-activites  h2
{
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 20px 10px 10px 0px;
    cursor: pointer;
    
    border-radius: 0px 0px 20px 20px;
    margin-top: -5px;
    width: auto;
    height: 6%;
    padding-left: 8%;
}

/*Pied de page*/
footer
{
    display: flex;
    width: 100%;
    margin-top:8% ;
}

.foot
{
    height: auto;
    background-color: var(--gris-background);
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 3%;
    width: 100%;
}

.foot .conditions
{
    display: flex;
    flex-direction: column;
}

footer .foot 
{  
    display: flex;
   
}

.foot .conditions 
{

    text-decoration: none;
    color: #000000;
    font-family:'raleway';
    margin-top: 12px;
    justify-content: space-between;
    width: 160%;
    
}

.foot p
{
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    flex-direction: row;
    justify-content: flex-start;
}

.foot div
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 45px;
    margin-left: 70px;
    
}

.foot nav
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto; 
    width: 100%;
}

.foot .marge
{
    margin-left: 60%;
    width: 100%;
}
















/*tablette*/
@media screen and (max-width: 992px)
 {

    body
    {
        max-width: 992px;  
        margin: 0 auto;
    }


    header
    {
        
        flex-direction: column;   
    }

    .up .two
    {
        width: 12%;
    }
    .up
    {
        justify-content: flex-end;
    }



    nav ul
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }

    nav li a 
    {
        display: flex;
        width: 84%;
        flex-flow: wrap;
        margin-top: 10px;
        margin-left: 16px;
        font-size: 16px;
      }


  .Marseille 
  { 
    flex-direction: column;
    justify-content: space-between;
  }
  .Marseille .one
  {
    width:auto;
  }
  .Marseille .one img
  {
    width: 97%;
  }

  .Marseille .second
  {
    margin-top: 3.5%;
    width: 100%;
  }

  .Marseille .one .plus
  {
    padding-bottom: 3.5%;
  }




aside
{
    flex-flow: wrap;
    width: 100%;
}
 .Marseille .cartedeux 
 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
 }

.cartedeux img
{
    object-fit: cover;
}

.cartedeux a 
{
    width: 100%;
}
 .cartedeux .b
 {
   
    width: 31%;
    margin: 0 auto;
    margin-top: 2%;
    
 }
 .colonne .price 
 {
    width: 100%;
 }

.Marseille .cartedeux h1
{
    width: 80%;
    margin-bottom: 10px;
}

.cartedeux .colonne .stars
{
    margin-top: 0px;  
}
.cartedeux .colonne
{
    flex-direction: column;
    width: 46%;
}

.Marseille .second .cartedeux .chart
{
    margin-top: 47px;
    margin-right: 43px;
    margin-left: 46%;
}

.card-activites .h img
{
   
    height: 79%;
}


.activites .card-activites .line
{
    justify-content: end;
    flex-direction: column;
    padding-bottom: 7%;
    padding-top: 7%;
    height: auto;
}
.activites .card-activites h2
{
    
    padding: 0px;
    height: 10%;
    padding-top: 4%;
    padding-left: 12%; 
    width: 80%;
    padding-right: 8%;
    padding-bottom: 3%;
}
.h
{
   height: auto;
  
 padding-left: 0px;
}
.card-activites
{
    justify-content: flex-start;
    width: 100%;
}
.h a
{
    height: 82%;
}
footer
{
    
    width: 100%;
}

.foot
{
    margin-top: -5%;
}
.foot div

{
    margin-left: 10%;
}
.foot .marge
{
    margin-left:25%;
}

 }













 /*mobile*/
@media screen and (max-width: 768px)
{

body
{
  max-width: 768px;  
    margin: 0 auto;
}




nav .up
{
    margin-top: 0px;
}
.up
{   
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 88px; 
}
.up a 
{
    text-align: center;
}
.up .two 
{
    width: 100%;
    padding-bottom: 23px;
    border-bottom: var(--gris-background) solid 2px;

}
.up .two:hover
{
    border-bottom: var(--couleur-charte) solid 2px;
    border-top: none;

}
.logo
{
    margin-left: 48%;
    position: relative;
    top: 21px;
    
}



.intro h1
{
    margin-top: 10%;
    height: auto;

}



/*Barre de recherche*/
.search
{
    margin-left: 5%;
    margin-top: 5%;
    width: auto;
}

.search input
{
    line-height:40px;
    width: 100%;
}

.search .loupe
{
    display: inline;
    padding: 64%;
    background-color: var(--couleur-charte);
    border-radius: 0px 15px 15px 0px;
    color: #F0F2F6;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.location i
{
    margin-top: 0px;
    font-size: 17px;
}
.search  .rechercher
{
    display: none;
}
.search  .location
{
    cursor: pointer;
    background-color: var(--gris-background);
    border-radius: 15px 0px 0px 15px;
    color: black;
    text-decoration: none;
    height: 18px;
    width: 28px;
    padding-top: 12.7px;
    padding-left: 15px;
    padding-bottom: 12.7px;
  }





  /*Filtres*/

nav .filtre
{
   
   display: flex;
    margin-left: 5.5%;
    font-family: "raleway";
    font-size: 18px;
    width: 100%;
}

nav ul
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}
nav li a
{
    display: flex;
    width: 84%;
    flex-flow: wrap;
    margin-top: 10px;
    margin-left: 16px;
    font-size: 16px;
}





.info
{
    margin-left: 5%;
    margin-bottom: 0px;
}

.info i
{
    margin-bottom: 13px;
}






.Marseille
{
    margin-left: 0px;
    flex-direction: column-reverse;
    
}
/*Les plus populaires*/
.Marseille .second .cartedeux .chart
{
    margin: 0%;
    margin-top: 6%;
    margin-right: 7%;
}

.Marseille .carte
{
    flex-direction: column;
    height: auto;
    
}
/*Herbegement à Marseille*/
.Marseille .one
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
    width: 100%;
}
.Marseille .one .a
{
    justify-content: space-between;
    width: 90%;
    
}


.Marseille .a img
{
    object-fit: cover;
}

.Marseille .a
{
    width: auto;
   margin: 0 auto;
}

.Marseille .one .titre1
{
    margin-left: 5%;
}

.Marseille .second
{
    margin-bottom: 15px;
    height: auto;
    
}
.Marseille .cartedeux .titre
{
    width: 66%;
   margin-left: 5%;
    
}

.Marseille .cartedeux
{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-flow: wrap;
    width: 100%;
    
}
.cartedeux .b
{
    width: 92%;
}
.plus
{
    margin-left: 4%;
    margin-bottom:1%;
}


.activites
{
    width: 100%;
    flex-flow: wrap;
}

.activites .titre-activites
{
    margin-bottom: 10%;
    width: 35%;
    margin-left: 5%;
}


.card-activites .h img
{
    width: 100%;
    height: 57%;
}

.card-activites
{
    flex-direction: column;
    height: auto;
}

.h
{
  margin-left: 0%;
    width: 100%;
   height: 19%;
   margin-bottom: -7%;
}

.h a 
{
    width: 93%;
    margin: 0 auto;
    height: auto;
}

.foot div
{
    flex-direction: column;
    margin-left: 5%;
}

footer .foot
{
    height: auto;
    margin-top: -100%;
}
.foot nav
{
    margin-bottom: 25px;
}
.foot .propos
{
    margin-left: 5%;
    flex-direction: column;
}
.foot .marge
{
    margin-left: 0px;
}
.foot .conditions
{
    width: auto;
}
}

